ul {
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translateX(0%);
}

.dailiesContainer {
    height: 75vh;
    width: 100%;
    position: relative;
}