.registerBox {
    height: auto;
    background-color: rgb(222, 230, 234);
}

.registerForm {
    transition: height 1s ease, padding 1s linear;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.open {
    height: 150px;
    padding: 15px;
}